/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-blue: #1272E8ff;
  --vt-c-dark-purple: #07071f;
  --vt-c-light-blue:#4e99f5;
  --vt-c-light-blue-lighter: #84b9fa;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-2: rgba(60, 60, 60, 0.12);

  --vt-c-text-1: var(--vt-c-black);
  --vt-c-text-2: rgba(60, 60, 60, 0.66);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-2);
  --color-border-hover: var(--vt-c-divider-1);

  --color-heading: var(--vt-c-text-1);
  --color-text: var(--vt-c-text-1);
  --color-text-additional: var(--vt-c-text-1)

  --section-gap: 160px;
}


:root {
  --font-size-normal: 1rem;
  --font-size-normal2: 1.2rem;
  --font-size-normal3: 1.4rem;
  --font-size-normal4: 1.6rem;
  --font-size-mini: calc(var(--font-size-normal) * 0.8);
  --font-size-micro: calc(var(--font-size-normal) * 0.5);
  --font-size-large: calc(var(--font-size-normal) * 2);
  --font-size-large2: calc(var(--font-size-normal) * 2.2);
  --font-size-large3: calc(var(--font-size-normal) * 2.4);
  --font-size-large4: calc(var(--font-size-normal) * 2.6);
  --font-size-extra-large: calc(var(--font-size-normal) * 6);
  --font-size-icons-normal: var(--font-size-normal);
  --font-size-icons-normal2: calc(var(--font-size-normal) * 1.2);
}


:root {
  --ui-col: 40px;
  --header-heigth: 4.9em
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
 
}

body {
  color: var(--color-text);
  background: var(--color-background);
  width: 100%;
  height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
